<link rel="stylesheet" href="/css/style.css" />
<div class="container" id="scorecard"></div>
    
<div class="container" id="container"></div><br>

<form id="alert" ><form action="/" method="get"><button type="submit" class="btn btn-primary" style="justify-content: center;">Play Again</button></form></form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/javascript.js"></script>